/* ---------------------------------------------------
    GENERAL STYLE
----------------------------------------------------- */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  max-height: 100%;
  width: auto;
  overflow-y: auto;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

* {
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

/* ---------------------------------------------------
    SCROLLBAR STYLE
----------------------------------------------------- */

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ---------------------------------------------------
    LOG IN / LOG OUT & REGISTER BUTTONS
----------------------------------------------------- */

#login {
  display: none;
}

#logout {
  display: visible;
}

/* ---------------------------------------------------
    USER PANEL STYLE
----------------------------------------------------- */

#userPanel {
  display: visible;
  border-top: 1px solid #454545;
  border-bottom: 1px solid #454545;
}

#avatar {
  border-radius: 100%;
  height: 150px;
}

/* ---------------------------------------------------
    ADMIN PANEL STYLE
----------------------------------------------------- */

#admPanel {
  border-bottom: 1px solid #454545;
}

/* ---------------------------------------------------
    MENU & LOGO BORDERS
----------------------------------------------------- */

#menu,
#logo {
  border-bottom: 1px solid #454545;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #1f1f1f;
  color: #fff;
  transition: all 0.3s;
}

nav {
  overflow-y: auto;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #1f1f1f;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: black;
  background: #fff;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em;
  padding-left: 30px;
  background: #272727;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100%;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
  #sidebarCollapse span {
    display: none;
  }
}

/* ---------------------------------------------------
    LOGIN FORM
----------------------------------------------------- */
input {
  outline: none;
  border: none;
}

.container-login-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #ebeeef;
}

.wrap-login {
  background: #efeaea;
  padding: 10px;
  margin-top: 27px;
  border-radius: 10px;
}

.login-form-image {
  background-size: cover;
  background-position: center;
  padding: 216px 11px 56px 12px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 43px 88px 93px 190px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #b2b2b2;
}

label {
  margin-top: 6px;
}

.input-user-pass {
  font-size: 15px;
  color: #555555;
  width: 100%;
  padding: 0 5px;
}

.focus-input-user-pass {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input-user-pass::before {
  content: " ";
  display: block;
  position: absolute;
  bottom: -1;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.6s;
  background: #57b846;
}

input.input-user-pass {
  height: 45px;
}

.input-user-pass:focus+.focus-input-user-pass::before {
  width: 100%;
}

.label-checkbox {
  line-height: 0.3;
  display: block;
  font-size: 15px;
  position: relative;
  padding-left: 22px;
  top: -9px;
  color: #808080;
  cursor: pointer;
}

.input-checkbox:checked + .label-checkbox1::before {
  color: #57b846;
}

.forgot-pass {
  font-size: 15px;
  color: #808080;
}

.btn-login {
  min-width: 114px;
  height: 46px;
  background-color: #3539b7;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  margin-left: 200px;
}

@media (min-width: 768px) {
  .col-md-12 {
  flex: 0 0 50%;
  max-width: 100%;
  }
}


